<div ng-show="brewery.name">
    <div class="panel panel-default">
        <div class="panel-heading  horizontal-grad">
            <h2 class="panel-title brewery-details-title">
                {{brewery.brewery.name}}
            </h2>
            <div><small>{{brewery.streetAddress}} {{brewery.locality}} {{brewery.region}} {{brewery.phone}}</small></div>
        </div>
        <div class="panel-body brewery-details-img">
            <img class="brewery-details-img" ng-src="{{brewery.brewery.images.medium}}">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Description
            </h4>
        </div>
        <div class="panel-body">
            <p>
                {{brewery.brewery.description}}
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Beers
            </h4>
        </div>
        <div class="panel-body">
            <div ng-include="'app/partials/brewery_beers.html'"></div>
        </div>
    </div>
</div>