<div ng-controller="BrewerySelectedController">
    <div ng-show="brewery.name">
        <div class="row clearfix main-column-container overflow-container brewery-details">
            <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 column">
                <div ng-include="'app/partials/brewery_summary.html'"></div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 column">
                <div ng-include="'app/partials/brewery_tweets.html'"></div>
            </div>
        </div>
    </div>
    <div ng-show="!brewery.name">
        <div class="jumbotron details-jumbotron  horizontal-grad">
            <h1>
                Welcome to Brewery Master
            </h1>

            <p>
                Select a marker on the map or a item in the list to view details.
            </p>

            <p>
                <a class="btn btn-primary btn-large">Learn more</a>
            </p>
        </div>
    </div>
</div>