<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div ng-include="'app/partials/navbar.html'"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 col-sm-4 column tight-left tight-right">
            <div ng-include="'app/partials/brewery_list.html'"></div>
        </div>
        <div class="col-md-5 col-sm-8 column tight-left tight-right">
            <div ng-include="'app/partials/brewery_map.html'"></div>
        </div>
        <div class="col-md-5 col-sm-12 column tight-right">
            <div ng-include="'app/partials/brewery_details.html'"></div>
        </div>
    </div>
</div>