<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div ng-include="'app/partials/navbar.html'"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="hidden-xs col-sm-4 col-md-2 column tight-left tight-right">
            <div ng-include="'app/partials/brewery_list.html'"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-5 column tight-left tight-right" style="padding-bottom: 20px;">
            <div ng-include="'app/partials/brewery_map.html'"></div>
        </div>
        <div class="col-md-5 col-sm-12 column col-xs-12 tight-left tight-right">
            <div ng-include="'app/partials/brewery.html'"></div>
        </div>
    </div>
</div>

<!-- dialogs -->
<div ng-include="'app/partials/question.html'"></div>
<div ng-include="'app/partials/usermodel.html'"></div>
