<div ng-controller="AnswersController">
    <div ng-show="answers">
        <section id="features" class="qa-answer-section" ng-init="index=1">
            <div class="content">
                <slick id="answer-carousel" class="slider single-item" data="answers"
                       init-onload="false" onslides-to-show="1" slides-to-scroll="1" onafter-change="onAfterChange()">
                    <!--<div ng-repeat="evidence in answers">
                        <div class="answer-container" >{{ evidence.text }}</div>
                    </div>-->
                    <div class="answer-container">{{ answers[0].text }}</div>
                    <div class="answer-container">{{ answers[1].text }}</div>
                    <div class="answer-container">{{ answers[2].text }}</div>
                    <div class="answer-container">{{ answers[3].text }}</div>
                    <div class="answer-container">{{ answers[4].text }}</div>
                </slick>
            </div>
        </section>
    </div>
</div>