<!-- Modal -->
<div class="modal fade" id="qaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  qa-modal">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Ask Watson</h4>
            </div>

            <div class="modal-body">
                <div ng-controller="QuestionController">
                    <div id="question-view" class="input-group sample-questions">
                        <span class="input-group-addon">Q</span>
                        <input type="text" class="form-control" id="search-term"
                               placeholder="What would you like to know beer?" ng-model="text">

                        <div class="input-group-btn">
                            <button class="btn btn-primary ladda-button" ladda="isLoading" ng-click="ask(text)"
                                    data-style="expand-left">
                                <span class="ladda-label">Ask</span>
                            </button>
                            <button id="samples-dropdown" type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" tabindex="-1">
                                <span class="caret"></span> <span class="sr-only">Sample Questions Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-controller="AnswersController">
                    <div ng-show="answers">
                        <section id="features" class="qa-answer-section" ng-init="index=1">
                            <div class="content">
                                <slick id="answer-carousel" class="slider single-item" data="answers"
                                       init-onload="false" onslides-to-show="1" slides-to-scroll="1" onafter-change="onAfterChange()">
                                    <div ng-repeat="evidence in answers">
                                        <div class="answer-container" >{{ evidence.text }}</div>
                                    </div>
                                </slick>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>