<div class="modal fade" id="umModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog usermodel-modal">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">The Vibe</h4>
            </div>

            <div class="modal-body um-data-container">
                <div ng-controller="UserModelResultController">
                    <div ng-show="error">Sorry. A brewery profile was not generated: {{error}}</div>
                    <div ng-show="!error">
                        <div class="row clearfix">
                            <div class="col-sm-2 column">
                                <table>
                                    <tr ng-repeat="item in analysisFlat">
                                        <td ng-class="!item.value ? 'um-characteristic-title' : ''">{{item.id}}</td>
                                        <td>{{item.value}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-10 column">
                                <div ng-bind-html="visualization" class="um-visualization"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>