<div class="modal fade" id="umModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog usermodel-modal">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Brewery Model</h4>
            </div>

            <div class="modal-body">
                <div ng-controller="UserModelResultController">
                    <div>
                        <div class="row clearfix">
                            <div class="col-sm-2 column">
                                <div ng-repeat="item in analysisFlat">
                                    <table>
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.value}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-10 column answer-container">
                                <div ng-bind-html="visualization"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>