body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#map-canvas {
    min-height:300px;
}

@media (min-width: 768px) {
    #map-canvas {
        min-height:300px;
    }
}
@media (min-width: 992px) {
    #map-canvas {
        min-height:450px;
    }
}
@media (min-width: 1200px) {
    #map-canvas {
        min-height:600px;
    }
}
