<!--<div class="container" id="section1">-->
<!--<div class="col-sm-8 col-sm-offset-2 text-center">-->
<!--<h1>Nearby Breweries</h1>-->
<!--</div>-->
<!--</div>-->
<div ng-controller="BreweryListController">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="toggleMap()">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="locate()">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-8">
            <form name="locationSearch">
            <div id="location-search" class="input-group">
                <input type="text" class="form-control" name="location"
                       placeholder="Enter a location" ng-model="text" required />

                <div class="input-group-btn">
                    <button class="btn btn-primary ladda-button" ladda="isLoading" ng-click="search(text)"
                            data-style="expand-left" ng-disabled="locationSearch.$invalid">
                        <span class="ladda-label">Go</span>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="row animate-hide" ng-hide="showMap">
        <table class="table table-striped table-hover brewery-list-table">

            <tr ng-click="notifySelect($event, item)" ng-repeat="item in data">
                <td><a ng-click="" href="" class="list-col1">
                    <img class="brewery-list-icon" ng-src="{{item.brewery.images.icon}}">
                    </a>
                </td>
                <td class="col-sm-8">
                    <a ng-click="" href="" class="list-col2">
                    <p class="brewery-list-title">{{item.brewery.name}}</p>

                    <p class="brewery-list-main">
                        <sm ng-show="item.streetAddress">{{item.streetAddress}}, {{item.locality}}</sm>
                        <sm ng-show="!item.streetAddress">{{item.locality}}</sm>
                    </p>

                    <p class="brewery-list-sub">
                        <sm>{{item.locationTypeDisplay}}</sm>
                    </p>
                        </a>
                </td>
                <td class="col-sm-2">
                    <a ng-show="item.distance" ng-click="" href="" class="list-col3">
                    {{item.distance}}mi
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div ng-controller="BreweryMapController">
            <div id="map-canvas" ></div>
        </div>
    </div>

</div>
<div class="location-progress-overlay">
</div>