<div ng-controller="TweetController">
    <div ng-hide="tweets">Sorry. Not enough information to sense the vibe.</div>
    <div ng-show="tweets">
        <div ng-controller="TweetPersonalityController">
            <div ng-controller="UserModelResultController">
                <div ng-show="error">Sorry. Not enough information to sense the vibe.</div>
                <div ng-show="!error">
                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <td ng-class="'pi-category'" colspan="2">{{categories['personality'].name}}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in categories['personality'].arr | limitTo:3">
                                    <td>{{item.name}}&nbsp;&nbsp;</td>
                                    <td>{{item.value}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-6">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <td ng-class="'pi-category'" colspan="2">{{categories['needs'].name}}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in categories['needs'].arr | limitTo:3">
                                    <td>{{item.name}}&nbsp;&nbsp;</td>
                                    <td>{{item.value}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <td ng-class="'pi-category'" colspan="2">{{categories['values'].name}}</td>
                                </tr>
                                </thead>
                                <tr ng-repeat="item in categories['values'].arr | limitTo:3">
                                    <td>{{item.name}}&nbsp;&nbsp;</td>
                                    <td>{{item.value}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>